.carousel {
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}

.indicators {
    display: flex;
    justify-content: center;
    padding: 10px;
}