.wrapper {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapper .ui.center.aligned.header {
  align-items: center;
  margin-left: 10px;
}

.ui.container#instruction {
  display: flex;
  justify-content: center;
}

.wrapper .ui.center.aligned.header {
  display: flex;
  justify-content: center;
}

.ui.header > .icon + .content {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Dosis', sans-serif;
}
