
.navbar .ui.tabular.menu{
    padding-top: 15px ;
    background-color: rgb(208, 232, 253);
}

.ui.tabular.menu .ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu{
    justify-content: space-around;
    align-items: end;
}

.ui.container .ui.menu:first-child{
    margin-top: 10px;
}